.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}




.switch-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.switch-wrapper>div {
    position: absolute;
    height: 100%;
    width: 100%;
}