body {
    margin: 0px;
}

.list-item {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    /* background-color: #03a9f4; */
}

.list-item:last-child {
    margin-bottom: 0;
}

.transition-wrapper {
    position: relative;
    z-index: 1;
}

.transition-wrapper .transition-item {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.detail-page {
    overflow: auto;
    box-sizing: border-box;
    padding: 0;
    height: 100vh;
    /* background-color: #03a9f4; */
    transition: transform 0.5s, opacity 0.5s;
}

.detail-page.transition-appear {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.detail-page.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.list-page {
    overflow: auto;
    box-sizing: border-box;
    padding: 0;
    height: 100vh;
    background-color: #fff;
    transition: transform 0.5s, opacity 0.5s;
    transform: translate3d(0, 0, 0);
}

.list-page.transition-appear {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.list-page.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.list-page.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.list-page.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
