.share-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    top: 0;
    bottom: 0;
}
.share-container {
    padding: 5px;
    background: #fff;
    position: absolute;
    width: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 105px;
    border-radius: 4px;
}
span.share-close {
    font-size: 28px;
    position: absolute;
    top: -10px;
    right: 3px;
    color: #828282;
}
.Demo__container {
    text-align: center;
}
.Demo__some-network {
    vertical-align: top;
    display: inline-block;
    text-align: -webkit-center;
    min-width: 80px;
}
.Demo__some-network__share-count {
    margin-top: 3px;
    font-size: 12px;
}
.Demo__some-network__share-button {
    cursor: pointer;
}
.Demo__some-network__share-button:hover:not(:active) {
    opacity: 0.75;
}
.Demo__some-network__custom-icon {
    width: 32px;
    height: 32px;
}
svg.social-icon.social-icon--facebook {
    border-radius: 5px;
}
svg.social-icon.social-icon--twitter {
    border-radius: 5px;
}
svg.social-icon.social-icon--whatsapp {
    border-radius: 5px;
}