.rhap_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-family: inherit;
    width: 100%;
    padding: 10px 15px;
    background-color: #c4aad6;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    height: 180px;
    /* background-image: url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDk0fQ&w=1000&q=80'); */
}

.rhap_play-pause-button {
    font-size: 90px;
    width: 40px;
    height: 40px;
}
.rhap_play-pause-button {
    font-size: 90px;
    width: 86px;
    height: 92px;
}
.container {
    touch-action: none;
}