.block-question {
    padding: 0 !important;
}
.card-question {
    margin-top: 0px !important;
    padding: 20px !important;
}
.card-question .content {
    padding: 0px 0px !important;
}
.card-question .content p {
    font-size: 16px;
}
.button {
    background-color: rgb(59, 144, 194); 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
