/* appear - on page load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 5000ms linear;
}

/* enter */
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 5000ms linear;
}

.fade-exit-done {
    opacity: 0;
}

/* slide enter */
.slide-enter {
  opacity: 0;
  /* transform: scale(0.97); */
  z-index: 1;
  transform: translateX(100vw);
}
.slide-enter.slide-enter-active {
    opacity: 1;
    /* transform: scale(1); */
    transform: translateX(0%);
    transition: opacity 500ms linear 500ms, transform 500ms ease-in-out 500ms;
}

/* slide exit */
.slide-exit {
    opacity: 1;
    /* transform: scale(1) translateY(0); */
    transform: translateX(0%);
    
}
.slide-exit.slide-exit-active {
    opacity: 0;
    /* transform: scale(0.70); */
    transition: opacity 1200ms linear, transform 1200ms ease-out;
    transform: translateX(-100vw);
}
.slide-exit-done {
  opacity: 0;
}