.no-data-found {
    width: 100%;
    position: relative;
    height: 250px;
}
.no-data-found img {
    height: 100px;
    width: 100px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
svg path {
    will-change: auto;
    stroke-width: 20px;
    stroke-miterlimit: round;
    transition: stroke-dashoffset 850ms ease-in-out;
}
/* .social-media-icons .social-icon {
    display: inline-block;
    padding: 0;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    border: 1px solid;
    width: 33px;
    height: 33px;
    margin-top: -1px;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    color: #128bb4 !important;
} */

.bottom-fixed-status {
    background-color: #ff4e1a;
    position: fixed;
    width: 100vw;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
}
.bottom-fixed-status>ul {
    margin: 0;
    padding: 0;
}
li.bottom-button {
    width: 33.33%;
    text-align: center;
    padding: 0;
    border-right: 1px solid #e47454;
}
.bottom-fixed-status>ul>li:last-child {
    border-right: 0px;
}
li.bottom-button>a {
    display: block;
    color: #fff;
    padding: 5px 0;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.side-share {
    position: fixed;
    right: -34px;
    top: 0;
    bottom: 0;
    height: 120px;
    margin: auto;
    background: #fff;
    width: 50px;
    z-index: 99;
    box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
    border-radius: 5px;
    transition: right 500ms ease-in-out;
}
.open-side-share {
    right:0;
    transition: all 500ms ease-in-out;
}

.share-result {
    position: relative;
    height: 40px;
}

.share-icon-result {
    position: absolute;
    right: 15px;
    top: 12px;
    background: #fff;
    border-radius: 13px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.25),
    0px 1px 9px rgba(0, 0, 0, 0.22);
}

.share-icon-result>span {
    margin: 0 8px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 32px;
}

.share-icon-result>img {
    width: 30px;
    height: 30px;
}

.score-best-score {
    overflow: -webkit-paged-x;
}
.score-best-score>div:nth-child(1) {
    margin: 20px 0px 0;
    padding: 20px 0px 10px;
}
.score-best-score>div:nth-child(1)>div:nth-child(1) {
    position: relative;
}
.score-best-score>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) {
    padding: 10px;
    background-color: rgb(18, 139, 180);
    color: #fff;
    width: 49%;
    border-right: 1px solid rgb(255, 255, 255);
    display: inline-block;
}
.score-best-score>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>span {
    float: right;
    padding-left: 10px;
}
.score-best-score>div:nth-child(1)>div:nth-child(1)>div:nth-child(2) {
    padding: 10px;
    background-color: rgb(18, 139, 180);
    color: #fff;
    border-left: 1px solid rgb(255, 255, 255);
    width: 49%;
    display: inline-block;
}
.score-best-score>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>span {
    float: right;
    padding-left: 10px;
}