.submit-loader-overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99999;
    
}

.submit-loader-body {
    position: absolute;
    width: 300px;
    height: 80px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 2s linear;
    display: table;
}

p.loading{
    color: #000;
    font: 300 4em/150% LIGHTER;
    text-align: center;
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
}


/* loading dots */

.loading:after {
  content: ' .';
  font-size: 30px;
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: gray;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 gray,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 grey,
      .5em 0 0 grey;}}