.no-of-question{
    position: absolute;
    padding: 5px 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.52);
    width: 100%;
    color: white;
    font-size: 13px;
    border-radius: 5px 5px 0px 0px;
    letter-spacing: 0.5px;
    text-align: center;
}


/* .no-of-question{
    position: absolute;
    padding: 5px 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.52);
    width: 100%;
    color: white;
    font-size: 13px;
    border-radius: 5px 5px 0px 0px;
    letter-spacing: 0.5px;
    text-align: center;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-container-multirow>.swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.popular-quiz-img {
    height: 150px !important;
    border-radius: 5px 5px 0px 0px !important;
    object-fit: cover !important;
    object-position: center !important;
}
.title {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
}
.no-of-question {
    position: absolute;
    padding: 5px 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.52);
    width: 100%;
    color: white;
    font-size: 13px;
    border-radius: 5px 5px 0px 0px;
    letter-spacing: 0.5px;
    text-align: center;
} */