.landing-loader{
    position: absolute;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    background: #090e28;
}
.landing-loader > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
}