#modal-htp .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
}
#modal-htp .control-slide .btn {
    font-size: 18px;
    margin: 0 .5em;
}
#modal-htp #how-to-play-slider .carousel-inner {
    background-color: white;
    border-radius: 10px;
}
#modal-htp #how-to-play-slider .item {
    height: 72vh;
}
#modal-htp #how-to-play-slider .item .banner {
    margin: 0 auto;
    padding-top: 2em;
    width: 80%;
    height: 35vh;
}
#modal-htp #how-to-play-slider .item .banner img {
    width: 100%;
    height: 100%;
}
#modal-htp #how-to-play-slider .item .desc {padding: 0 1em}
#modal-htp #how-to-play-slider .item .desc p {font-size: 4vw;}
#modal-htp #how-to-play-slider .item .desc h4 {font-size: 6vw;}
#modal-htp #how-to-play-slider .item .control-slide {
    position: absolute;
    bottom: 13px;
    width: 100%;
}
#modal-htp .carousel-indicators {bottom: -10%;}
#modal-htp .carousel-indicators li.active {background-color: #781783;}
#modal-htp .carousel-indicators li, #modal-htp .carousel-indicators li.active {
    width: 15px;
    height: 15px;
}
.nextButton{
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 39%;
    padding: 15px;
}
.skipButton{
    background: #fff;
    color: rgb(197, 188, 188);
    border-radius: 39%;
    padding: 15px;
}