/*  0. General
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
body, html {
    max-width: 100vw;
    overflow-x: hidden;
	font-family: Roboto, Noto, Helvetica, Arial, sans-serif;
    color: #212121;
    line-height: 1.5;
}
/*  1. Typography
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
img {
    max-width: 100%;
}
blockquote {
    margin: 30px 0;
}

/*  2. Colors & Backgrounds
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
.white {
    background-color: #fff;
}
.white-text {
    color: #fff;
}
.bluedark {
    background: #090E28;
}
.toporange {
	border-top: 5px solid #FF4E1A;
}
.botorange {
	border-bottom: 1px solid #633039;
}
.black-text {
    color: #232323;
}
.rose {
    background-color: #e91e63;
}
.rose-text {
    color: #e91e63;
}
.light-grey {
    background-color: #fafafa;
}
.bg-1 {
    background-color: #115911!important;
    border: 0;
}
.bg-2 {
    background-color: #00B2B2!important;
    border: 0;
}
.bg-3 {
	background: #FF4E1A!important;
	border: 0;
	color: #fff!important;
}
.opacity-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
}
.btn-lrg {
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    padding: 10px 20px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
}

/*  3. Animations
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
    font-size: 24px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}
.fs-18 {
	font-size: 18px;
}
/*  4. Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
.valign-wrapper {
    display: flex;
    align-items: center;
}
.valign {
    display: block;
    width: 100%;
}
#main {
    margin-top: 56px;
}
#main.with-tab {
    margin-top: 114px;
}
.product-page .main-raised {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.content {
    padding-top: 32px;
}
.fullscreen {
    height: calc(100vh - 56px);
}
.contact-content {
    margin-bottom: 20px;
}
.contact-content .info {
    padding: 0 0 30px;
}
.section {
    padding: 20px 0;
}
.section.section-comments {
    padding: 20px 0;
}
.footer [class*="col"] {
    margin-bottom: 40px;
}
.info {
    padding-top: 40px;
}
.home-filter {
  padding:70px 20px 20px;
}
.relative {
  position: relative;
}

/* Grid */
.fluid-row {
  -webkit-backface-visibility: hidden;
}
.fluid-row:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.fluid-row .mix {
    display: inline-block;
    display: none;
    padding: 1px 1px 4px;
    box-sizing: border-box;
}
.fluid-row .fluid-xs-6 {
    width: calc(50% - 2px);
}


#Container .mix{
    display: none;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.container-fluid.no-padding [class*="col"] {
    padding-left: 1px;
    padding-right: 1px;
}
.m-t-40 {
    margin-top: 40px;
}
.p-t-40 {
   padding-top: 40px;
}
.p-t-20 {
   padding-top: 20px;
}
.m-t-20 {
   margin-top: 20px;
}

.m-b-40 {
    margin-bottom: 40px;
}
.p-b-40 {
    padding-bottom: 40px;
}
.more-p {
  padding: 120px 0;
}
.not-center {
  margin-top: -100px;
}
/* Masonry */
.msnry-container {
    margin-top: 40px;
}
.msnry-item {
    width: 50%;
    height: auto;
    float: left;
    margin: 0;
    padding: 1px;
}


/* Parallax Header */
.page-header {
    min-height: auto;
    height: auto;
    background-size: cover;
}
.header-filter:after {
    background: rgba(132, 13, 121, 0.88);
    background: linear-gradient(45deg, rgba(132, 13, 121, 0.88) 0%, rgba(208, 44, 180, 0.31) 100%);
    background: -moz-linear-gradient(135deg, rgba(132, 13, 121, 0.88) 0%, rgba(208, 44, 180, 0.31) 100%);
    background: -webkit-linear-gradient(135deg, rgba(132, 13, 121, 0.88) 0%, rgba(208, 44, 180, 0.31) 100%);
}
.page-header.fullscreen {
    height: calc(100vh - 56px);
}
.page-header .container,
.product-page .page-header .container {
    padding: 60px 20px 40px;
    text-align: center;
}
.page-header .title {
    font-size: 2.5em;
}
.product-page .title-row {
    margin-top: 0;
}
.page-header.profile-header {
    height: 240px;
}

/*  5. Input
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
.input-group .input-group-addon {
    padding: 15px 15px 0;
}

/*  6. Navbar
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
#toolbar {
    width: 100%;
    height: 56px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap; 
    transition: all .25s ease-in-out;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 
                0 3px 20px 0px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
#toolbar.no-shadow {
    box-shadow: none;
}
#toolbar.with-tab {
    height: 112px;
}
#toolbar.with-tab .nav-tabs-navigation {
    flex: 0 0 100%;
}
#toolbar.with-tab .nav-tabs {
    text-align: center;
}
#toolbar.with-tab .nav-tabs>li {
    float: none;
    display: inline-block;
}
#toolbar .open-left {
    flex: 0 0 56px;
    line-height: 56px;
    text-align: center;
    position: relative;
}
#toolbar .open-right {
    flex: 0 0 55px;
    line-height: 56px;
    text-align: center;
    position: relative;
}
#toolbar .navbar-toggle {
    margin: 0;
    border: none;
    height: 50px;
    width: 56px;
}
#toolbar .navbar-toggle .icon-bar {
    margin-left: auto;
    margin-right: auto;
}
#toolbar i {
    color: #fff;
    margin-top: 14px;
}
#toolbar .branding {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    line-height: 56px;
    margin: 0;
    flex-grow: 2;
}
#toolbar.left-only .branding {
    text-align: left;
    margin-left: 16px;
}
#toolbar.right-only .branding {
    text-align: left;
    margin-left: 16px;
}
#toolbar.transparent i,
#toolbar.transparent .branding {
  color: #222;
}
#toolbar.no-branding {
  justify-content: space-between;
}

/*  7. Drawer
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
.side-nav {
  position: fixed;
  width: 280px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
}
#slide-out-right {
  width: 300px;
}
.side-nav.right-aligned {
    right: 0;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
    left: auto;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.side-nav.right-aligned .card {
  margin: 5px 5px 10px;
  width: auto;
}
.side-nav.right-aligned .card.side-nav-card {
  width: 100%;
  margin: 0;
}
.drag-target {
  height: 100%;
  width: 25px;
  position: fixed;
  top: 0;
  z-index: 998;
}
#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  will-change: opacity;
}
.side-nav .panel-group .panel+.panel {
  margin-top: 0;
}
.side-nav .panel .panel-heading {
  padding: 16px 20px;
  border-bottom: none;
}
.side-nav .panel .panel-heading .panel-title {
  font-family: "Roboto Slab", "Times New Roman", serif;
}
.side-nav .panel .panel-body {
    padding: 0;
}
.side-nav .panel .panel-body a {
    padding: 11px 16px 11px 32px;
    display: block;
    font-size: 13px;
    color: #3C4858;
    cursor: pointer;
}
.card.side-nav-card {
   box-shadow: none;
    border-radius: 0;
    background: url(../img/blog3.jpg) no-repeat top / cover;
    margin: 0;
    min-height: 160px;
    position: relative;
}
.card.side-nav-card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    color: #fff;
}
.card.side-nav-card .author .avatar {
    width: 64px;
    height: 64px;
}
.card.side-nav-card .info-title {
  font-size: 1.3em;
}


/* Testimonials */
.testimonials {
  padding: 70px 40px 30px;
}
.testimonials .avatar {
  margin: 40px auto 10px;
  width: 72px;
  height: 72px;
}
.testimonials .testimonial {
  padding: 20px;
  border-radius: 6px;
  background: #01acc6;
  color: #fff;
  position: relative;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-style: italic;
}
.swiper-slide.swiper-slide-active .testimonial {
  opacity: 1;
}
.testimonials .testimonial:after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: #01acc6;
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: -12px;
  left: 50%;
  margin-left: -15px;
}
.testimonials p {
    font-size: 15px;
}
.testimonials .avatar {
    border-radius: 50%;
}

/*  8. Elements
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Card */
.card-image a {
    display: block;
}
.portfolio-card {
    margin-bottom: 0;
}
.portfolio-card .btn.btn-just-icon {
    margin: 0 10px;
    padding: 0;
}
.portfolio-card .card-footer {
    margin-top: 0;
}
.portfolio-card .content {
    padding-top: 0;
    padding-bottom: 0;
}

/* Comments */
.section-comments .media .avatar {
    width: 40px;
    height: 40px;
}
.section-comments .your-comment .media .avatar {
    width: 64px;
    height: 64px;
}

/* Chat */
.chat .message p {
    margin-bottom: 0;
    font-size: 14px;
}
.chat span {
    font-size: 12px;
}
.chat ul li {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
}
.chat ul li > img {
    float: left;
}
.chat ul li .message {
    margin-left: 55px;
    position: relative;
    padding: 12px 16px;
    border-radius: 4px;
}
.chat ul li .message.first {
    border-top-right-radius: 20px;
}
.chat ul li .message.last {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.chat ul li.message-left {
    margin-bottom: 36px;
}
.chat ul li.message-right .message.first {
    border-top-left-radius: 20px;
    border-top-right-radius: 4px;
}
.chat ul li.message-right > img {
    float: right;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.chat ul li.message-right .message {
    margin-right: 55px;
    margin-left: 0;
    margin-bottom: 2px;
    background-color: #f1f1f1 !important;
}
.chat ul li.message-left > img {
    margin-right: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.chat ul li.message-left .message {
    background-color: #f0f8ff;
    margin-bottom: 2px;
}
.message-right > span,
.message-left > span {
    margin-bottom: 20px;
    display: block;
}
.message-left > span {
    margin-left: 55px;
}
.photo-add {
    margin-top: 8px;
}
.photo-add .square-user {
    height: 48px;
    width: 48px;
    margin-right: 4px;
    float: left;
}
.chat-day {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
/* Pagination */
.pagination {
    width: 100%;
    text-align: center;
}
.pagination > li {
    display: inline-block;
}
/* Tab */
.nav-pills.text-center li {
    float: none;
    display: inline-block;
}

/* Contact */
.page-header iframe {
  height: 250px;
  width: 100%;
  border: none;
}

/* Calendar */
.calendar table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.calendar td,
.calendar th {
    padding: 0;
}
.calendar {
    text-align: center;
    padding: 0 20px 20px;
}
.calendar thead {
    color: #fff;
    opacity: 0.9;
    border: none;
}
.calendar tbody {
    color: #fff;
}
.calendar tbody td:hover {
    background-color: rgba(255, 255, 255, .2);
}
.calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: calc(13vw - 16px);
    height: calc(13vw - 16px);
    line-height: calc(13vw - 18px);
    margin: 5px;
}
.calendar .prev-month,
.calendar .next-month {
    opacity: 0.4;
}
.current-day {
    background: #fff;
    color: #000;
}
.calendar tbody td.current-day:hover {
    background-color: rgba(255, 255, 255, 1);
}
.event {
    cursor: pointer;
    position: relative;
}
.event:after {
    background: #fff;
    border-radius: 50%;
    bottom: 3px;
    display: block;
    content: '';
    height: 4px;
    left: 50%;
    margin: 0px 0 0 -2px;
    position: absolute;
    width: 4px;
}
.event.current-day:after {
    background: #fff;
}

/*  14. New Edit
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page {
	position: relative;
	min-height: 85%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*position: absolute;
    left: 0;
    top: 0;
    width: 100%;*/
    height: 100%;
	
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
	background: #333;
}
.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: #FFF;
  text-align: center;
  overflow: auto;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
	z-index: 1000;
	border-right: 1px solid #161831;
}
.sideNav.open {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
	z-index: 1000;
}
.sideNavR {
  position: fixed;
  top: 0;
  left: 100%;
  width: 70%;
  height: 100%;
  background-color: #FFF;
  text-align: center;
  overflow: auto;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
	z-index: 1000;
	
}
.sideNavR.open {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
	z-index: 1000;
}
.bgImg {
    background-color: #202346 !important;
}
.bgImg2 {
    background-color: #202346 !important;
    background-size: cover !important;
}
.account {
    margin: 10px 0 0 10px;
}

.list-block {
    font-size: 14px;
}
.list-block ul {
    list-style: none;
    margin: 0;
	padding: 0;
    position: relative;
}
.account ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.account li {
    box-sizing: border-box;
    position: relative;
}
.list-block .item-content {
    box-sizing: border-box;
    min-height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
	/** testing margin **/
	margin: -5px 0 -10px;
}
.list-block a {
    color: #fff;
    font-weight: 300;
	text-align: left;
	text-decoration: none;
}
.item-media {
    padding-top: 7px;
    padding-bottom: 8px;
    -ms-flex-item-align: flex-start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    padding-right: 5px;
}
.m-0 {
	margin: 0 auto;
}
.m-10 {
	margin: 10px;
}
.m-15 {
	margin: 15px;
}
.m-20 {
	margin: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-25p {
	margin-top: 25%!important;
}
.mt-30 {
    margin-top: 30px!important;
}
.ml-10 {
	margin-left: 10px;
}
.mr-0 {
	margin-right: 0px!important;
}
.mr-5 {
	margin-right: 5px;
}
.mr-10 {
	margin-right: 10px;
}
.mr-15 {
	margin-right: 15px;
}
.mr-20 {
	margin-right: 20px;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-15 {
	margin-bottom: 15px!important;
}
.pd-0 {
	padding: 0!important;
}
.pd-5 {
	padding: 5px!important;
}
.pd-10 {
	padding: 10px!important;
}
.pd-15 {
	padding: 15px!important;
}
.pt-0 {
	padding-top: 0!important;
}
.pt-10 {
	padding-top: 10px!important;
}
.pt-15 {
	padding-top: 15px!important;
}
.pt-45 {
	padding-top: 45px!important;
}
.pd515 {
	padding: 5px 15px;
}
.notop {
	padding-top: 0!important;
}
.media-list .item-inner, li.media-item .item-inner {
    display: block;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
.badge {
    font-size: 13px;
    padding: 4px 7px;
    vertical-align: middle;
	font-weight: 300;
}
.bg-orange {
	background: #ff6500;
}
.no-bg {
	background: none!important;
}
.bdrtop {
    border-top: 1px solid #222;
    margin-left: -15px;
}
.page-content {
    padding-top: 56px;
}
.page-content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    z-index: 1;
}
.padding-horizontal {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.button.button-outline {
    line-height: 34px;
}
.button.button-round {
    border-radius: 36px;
}
.button.toSearch {
    color: #ccc !important;
    text-align: left;
    text-transform: none;
    padding: 0 16px;
    line-height: 32px;
}
.dark-glass {
    color: #fff !important;
    background: #0006 !important;
    border: 1px solid #555 !important;
    position: relative;
}
.button {
    text-decoration: none;
    text-align: center;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    padding: 0 10px;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}
.text-small {
    font-size: 75%;
}
.text-big {
	font-size: 125%;
}
.text-red {
	color: #D80000;
}
.text-black {
	color: #111111!important;
}
.text-title {
	text-align: left!important;
}
.text-title a {
	color: #111111;
}
.text-desc {
	font-size: 14px;
	font-weight: 300;
	color: #111111;
	line-height: 16px;
}
.swiper-container2 {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-container img { 
	height: 345px;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #633039;
}
.block {
    padding: 20px 0;
	background: #e0e0e0;
}
.riw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.riw .col:nth-last-child(4), .riw .col:nth-last-child(4) ~ .col {
    width: 25%;
    width: calc((100% - 16px*3) / 4);
}
.segment-btn .button {
    height: 56px !important;
    width: 56px !important;
    padding: 0 !important;
    font-size: 27px;
    line-height: 63px !important;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    background: rgba(0, 0, 0, 0.24);
    min-width: auto;
}
.text-white {
	color: #fff;
}
.block-title {
    color: #111;
    line-height: normal;
}
.block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
	background: #fff;
}
.block-title h3 {
    margin: 10px auto;
    font-weight: 700;
	font-size: 24px;
}
.block-title .seeAll {
    color: #ccc;
    font-size: 10px;
    margin: 0 8px;
}
.title {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}
.desc {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}
a .title,
a .desc {
	color: #111;
}

.thumb > .cover-bg {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    margin-bottom: 8px;
}
.cover-bg {
    background-size: cover;
    background-position: center;
}
#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /*background: url("../img/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;*/
    background-color: #202346;
}
#spin {
	border: 16px solid #090E28;
	border-radius: 50%;
	border-top: 16px solid #FF4E1A;
	border-bottom: 16px solid #FF4E1A;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 35%;
}
.thumb-meta h4 {
    font-size: 13px;
    margin: 0;
    font-weight: 700;
	text-align: center;
}
.thumb-meta p {
    font-size: 10px;
    margin: 0;
	text-align: center;
}
.row .col-35 {
    width: 35%;
    width: calc((100% - 16px*1.8571428571428572) / 2.857142857142857);
}
.dark-glass .thumb-meta {
    padding: 10px 0;
    border-radius: 4px;
    /** overflow: hidden; **/
}
.dark-glass .thumb .cover-bg {
    margin-bottom: 0;
    margin: 5px 0 5px -10px;
}
.row .col-65 {
    width: 65%;
    width: calc((100% - 16px*0.5384615384615385) / 1.5384615384615385);
}
.row > [class*="col-"], .row > .col {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.margin-horizontal {
    margin-left: 16px !important;
    margin-right: 16px !important;
}
.dark-glass .thumb-meta li {
    line-height: 1.8;
    color: #ffae03;
}
.dark-glass .thumb-meta li > * {
    color: #fff;
}
.elipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.news-list .thumb > .cover-bg {
    padding-top: 70%;
}
.cover-bg {
    background-size: cover;
    background-position: center;
}
.row .col-40 {
    width: 40%;
    width: calc((100% - 16px*1.5) / 2.5);
}
.dark-glass .view-meta {
    position: absolute;
    bottom: -35px;
    font-size: 11px;
    color: #999;
}
.item-title {
	margin-top: -4px;
}
.ion-head {
	font-size: 32px;
	color: #fff;
	line-height: 64px;
}
.ion-menu {
	font-size: 24px;
	color: #fff;
	line-height: 32px;
}
.ion-login {
	font-size: 24px;
	position: relative;
    top: -12px;
}
.ion-def {
	font-size: 24px;
    vertical-align: bottom;
}
a.link.back {
    height: 64px;
    line-height: 1.6;
    font-size: 32px;
	vertical-align: middle;
}
.text-new-title {
	font-size: 18px;
    text-align: center;
    line-height: 3;
	color: #fff;
}
.input-group .input-group-addon {
    border: 0;
    background: transparent;
    padding: 6px 15px 0px;
}
.form-group .form-control {
    margin-bottom: 7px;
}
.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    /*background-color: transparent;*/
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}
.btn.btn-round {
    border-radius: 5px;
	background-color: #FF4E1A;
    color: #FFFFFF;
	border: 0;
	padding: 12px 40px;
}
.list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.item-divider {
    background-color: #000;
    color: #a3a3a3;
    font-size: 12px;
    height: 34px;
	line-height: 2.9;
}
.horizontalList {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
}
.horizontalList .thumb {
    display: block;
    width: 75px;
    text-align: center;
    margin: 16px 10px;
}
.horizontalList .thumb > .cover-bg {
    width: 50px;
    padding-top: 0;
    overflow: hidden;
    border-radius: 4px;
    margin: 0 auto;
    height: 50px;
}
.horizontalList .thumb-meta h4 {
    font-size: 11px;
    margin: 0;
    font-weight: 400;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.blocknew {
	margin: 0 17px;
}
.list .item-content {
    min-height: 48px;
    padding-left: 16px;
}
.list .item-link {
    color: inherit;
}
.item-inneran {
	padding: 15px 0;
	margin: 0 10px;
	border-bottom: 1px solid #333;
}
.item-inneran .item-title {
	color: #ccc;
	font-size: 12px;
}
.op5 {
	opacity: 0.5;
}
.playbox {
	border: 1px solid #333;
    padding: 12px 0;
    color: #ccc;
    text-align: center;
    font-size: 12px;
}
.playbox:last-child {
	border-top: none;
	border-right: none;
}
.bdr3 {
	border-right: 1px solid #333!important;
}
.bdt3 {
	border-top: 1px solid #333!important;
}
.blur {
    position: relative;
    height: 280px;
    overflow: hidden;
}
.blur .cover-bg {
    position: absolute;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    -webkit-filter: blur(12px);
    filter: blur(12px);
}
.h32 {
	height: 320px!important;
}
.blur .real-bg {
	height: 320px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
}
.blur .real-bg::before {
  display: block;
  position: relative;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0, #000 100%);
  margin-top: 0px;
  height: 100px;
  width: 100%;
  content: '';
}
.blur .real-bg::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
  margin-top: 120px;
  height: 100px;
  width: 100%;
  content: '';
}
.artCover {
    position: absolute;
    width: 125px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-detail {
	font-size: 18px;
	font-weight: 300;
	color: #fff;
}
.blocklist {
	margin: 15px 0;
    padding: 0 10px;
}
.item-list {
	padding: 8px 0;
	display: flex;
	width: 100%;
}
.item-list a.item-content {
	color: #fff;
	font-weight: 300;
	text-decoration: none;
	width: 100%;
}
.item-list a.item-content .track {
	font-size: 24px;
	color: #999;
	text-align: center;
}
.item-list a.item-content .title {
	font-size: 14px;
}
.item-list a.item-content .artist {
	font-size: 13px;
	color: #999;
}
.bn-more {
	font-size: 28px;
    color: #FFF;
	padding: 0!important;
	margin: 0!important;
	border: none!important;
	background: none;
}
.navbar-inner {
	position: absolute;
    bottom: -40px;
	width: 100%;
}
.navbar-inner {
    min-height: 40px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.end-colapse {
	height: 50px;
}
.bn-shuffle {
	position: relative;
	top: 77%;
	text-align: center;
}
.font-shuffle {
	font-size: 22px;
	vertical-align: middle;
}
#footer_body .nav>li>a {
	color: #171717;
	text-decoration: none;
}
.no-filter {
	filter: none!important;
}
.text-grey {
	color: #aaa;
}
.fs12 {
	font-size: 11px;
}
.songTitle {
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	margin-top: 5px;
}
.songTitle .artist {
	font-size: 14px;
	font-weight: 300;
	color: #aaa;
	text-align: center;
}
.sidenav{background-color:#111;height:100%;left:0;overflow-x:hidden;padding-top:60px;position:fixed;top:0;transition:.5s;width:0;z-index:1;}
.sidenavR{background-color:#111;height:100%;overflow-x:hidden;padding-top:60px;position:fixed;right:0;top:0;transition:.5s;width:0;z-index:1;}
.sidenav a,.sidenavR a{color:#818181;display:block;font-size:25px;padding:8px 8px 8px 32px;text-decoration:none;transition:.3s;}
.sidenav a:hover,.offcanvas a:focus,.sidenavR a:hover,.offcanvas a:focus{color:#f1f1f1;}
.sidenav .closebtn,.sidenavR .closebtn{font-size:36px;margin-left:50px;position:absolute;right:25px;top:0;}
@media screen and max-height 450px {
.sidenav,.sidenavR{padding-top:15px;}
.sidenav a,.sidenavR a{font-size:18px;}
}
.distanceset {
	border-bottom: 1px solid #333;
	padding: 20px 0;
}
.checklist {
	color: #00C748;
	font-size: 18px;
}
.blur2 {
    height: 120px;
	text-align: center;
	color: #fff;
	background: #000;
    padding: 1px;
	margin-bottom: 20px;
}
.blur3 {
	text-align: center;
	color: #fff;
	background: #000;
    padding-bottom: 20px;
	margin-bottom: 10px;
}
.article_content {
	display: inline;
	color: #f1f1f1;
	font-weight: 300;
}
.btn.btn-logout {
    border-radius: 30px;
	background: #000;
    color: #f57c00;
    border: 1px solid #f57c00;
    padding: 8px 60px;
}
.btn.btn-edit {
    border-radius: 30px;
	background: #000;
    color: #555;
    border: 1px solid #555;
    padding: 8px 60px;
}
.wd100 {
	width: 100%;
}
.easy-autocomplete-container {
	top: 50px
}
.easy-autocomplete-container ul {
    background: none repeat scroll 0 0 #070707!important;
    color: #ccc;
    border-top: 1px dotted #333!important;
    margin: -32px;
    line-height: 2;
}
.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
    border-color: #333!important;
}
.fix-pos {
	color: #444;
	position: relative;
	top: -28px;
	left: 12px;
	z-index: -1;
}
.logo {
	margin-top: 3px;
}
footer {
	border-top: 1px solid #FF4E1A;
	background: #202346;
	border-bottom: 5px solid #FF4E1A;
	padding: 5px 15px 20px 15px;
}
.follow {
	text-align: center;
}
.footer-text {
    color: #fff;
    font-size: 14px;
    margin-right: 16px;
	font-weight: 300;
}
.social-media-icons {
    display: inline-block;
    vertical-align: middle;
}
.social-media-icons .social-icon {
    display: inline-block;
    padding: 8px;
    font-size: 24px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s ease-out;
}
.social-icon.icon-twitter {
    color: #4a90e2;
}
.social-icon.icon-fb {
    color: #fff;
}
.social-icon.icon-youtube {
    color: #ff0000;
}
.social-icon.icon-fb2 {
    color: #29487d;
}
.folmid {
	margin-top: 10px;
	text-align: center;
	color: #eee;
	font-size: 12px;
	font-weight: 300;
}
.folmid a {
	color: #ddd;
	text-decoration: none;
	margin: 0 20px;
}
.list-block .list-group ul li.divider {
    background: #161831;
    padding: 1px 15px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 34px;
	color: #fff;
	text-align: left;
}
.list-block .list-group ul li {
    position: relative;
    color: #cccccc;
    font-size: 14px;
	padding-left: 30px;
    line-height: 40px;
}
.list-block .item-inner {
    padding-right: 15px;
    position: relative;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 7px;
    min-height: 44px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    overflow: hidden;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-item-align: stretch;
    -webkit-align-self: stretch;
    align-self: stretch;
}
.list-block .list-group ul li .item-inner {
    background-image: none;
}
.list-block .list-button .item-inner {
    padding-right: 35px;
}
.list-block .item-title {
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    min-width: 0;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.list-block .item-after {
    white-space: nowrap;
    color: #8e8e93;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    margin-left: auto;
    padding-left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.list-block .list-group ul li .item-inner .badge {
    position: absolute;
    top: 13px;
    right: 35px;
}
.item-after .badge {
    min-width: 20px;
}
.list-block .item-media+.item-inner {
    margin-left: 15px;
}
.badge-primary {
    background: #FF4E1A;
    color: #ffffff;
}
.liner {
	border-bottom: 1px solid #FF4E1A;
	height: 1px;
	clear: both;
    margin-bottom: 10px;
}
.hstry1 {
	padding: 10px 0px;
    background: #0C5872;
    display: flex;
	margin-bottom: 1px;
}
.hstry2 {
	padding: 10px 0px;
    background: #128BB4;
    display: flex;
	margin-bottom: 1px;
}
.text-hstry {
	color: #eee;
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
}
.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}

.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: #FAFAFA;
	border-color: #EEEEEE;
}

.panel-title {
	font-size: 14px;
}

.panel-title > a {
	display: block;
	padding: 15px;
	text-decoration: none;
}

.more-less {
	float: right;
	color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
}
.quiz-info {
	width: 100%;
    background: #0C5872;
    padding: 15px;
    border-radius: 5px;
    color: #eee;
	margin-bottom: 20px;
}
.set {
	position: relative;
	width: 345px;
	height: 115px;
	margin: 0 auto;
}
.set .set-img {
	position: absolute;
    left: -5px;
    top: -10px;
    overflow: visible;
	border-radius: 100px;
    width: 140px;
    height: 140px;
	background: #e0e0e0;
}
.set .set-bar {
	margin-top: 3px;
    margin-left: 60px;
    animation-delay: 0.2s;
	color: #eee;
}
.set .set-bar {
	display: block;
    vertical-align: top;
}
.set .set-bar .set-extra {
	margin-bottom: 8px;
	background-color: #128BB4;
	height: 34px;
	width: 100%;
	line-height: 1;
    padding: 2px 0;
	border-radius: 6px;
	
}
.set .set-bar .set-extra h5.desc1 {
	font-weight: 300;
	margin-left: 25%;
}
.set .set-bar .set-extra h5 span {
	margin-right: 10px;
	text-align: right;
	float: right;
	font-weight: 400;
}
.set .set-bar .set-extra h5.desc2 {
	font-weight: 300;
	margin-left: 29%;
}
.button-edit {
    position: absolute;
    left: 5%;
    color: #fff;
    background: #FF4E1A;
    border-radius: 50%;
    padding: 3px 3px 3px 6px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.list-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}



.twitter-typeahead{
width:100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width:100%;        
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}
.tt-hint {
	background: #f5f5f5!important;
}
.columns {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /*margin-left: -1rem;
    margin-right: -1rem;*/
}

/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}
p.title {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 2px!important;
    font-size: 12px;
}
p.price {
    margin-top: 6px;
    color: #FF4E1A;
    border: 1px solid #FF4E1A;
    padding: 0 5px;
    width: 99%;
    background-color: transparent;
    margin-bottom: 12px;
    text-align: center;
    height: 26px!important;
    font-weight: 300;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    line-height: 26px;
}
p.new-title {
    font-weight: 700;
    color: #FF4E1A;
}
i.fill {
    color: #FF4E1A;
    float: left;
}
.fix-form {
	border-radius: 4px!important;
    background-position: top!important;
    margin-top: -9px;
}
.bg-brown {
	background: #707070!important;
}
table.table.v2 {
	background: #707070;
    color: #eee;
    border-spacing: 0px!important;
    border-radius: 4px;
}
.v2 .set-img {
	display: inline-block;
	border-radius: 100px;
    width: 46px;
    height: 46px;
	background: #e0e0e0;
	margin-right: 5px;
}
.v2 td {
	vertical-align: middle!important;
}
.circle-gr {
    width: 30px;
    float: right;
    height: 30px;
    border: 6px solid green;
    text-align: center;
    border-radius: 50%;
	padding: 16px;
}
.time-number {
    font-size: 20px;
    line-height: 30px;
	position: relative;
    top: -14px;
    right: 10px;
}
.quiz-head {
	
}
.quiz-q {
	
}
.quiz-q p {
	color: #111111;
	font-size: 16px;
	vertical-align: middle;
	margin-top: 10px;
}
.quiz-an {
	margin-top: 20px;
}

.quiz-an .vix {
	color: white;
    width: calc(100% - 10px);
    margin: 5px;
    padding: 16px;
    overflow: auto;
    font-size: 14px;
    text-align: left;
    text-transform: none;
    justify-content: initial;
	    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    min-height: 36px;
    box-sizing: border-box;
    line-height: 1.4em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
	
}
.quiz-an .an1 {
	background: #5604D9;
}
.quiz-an .an2 {
	background: orange;
}
.quiz-an .an3 {
	background: #0A8863;
}
.quiz-an .an4 {
	background: #AB041E;
}

/*  15. Media Queries
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }
    .container {
        width: auto;
        max-width: 100%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .msnry-item {
        width: 33.3333%;
        height: auto;
        float: left;
        margin: 0;
        padding: 1px;
    }

}
.ds-inner {
	background-repeat: no-repeat;
	background-position: 50%;
	    position: absolute;
    width: 250px;
    height: 250px;
    display: block;
    top: 18%;
    left: 17%;
    z-index: 3;
    border-radius: 1000px;
    border: 5px solid #555;
}


/* Visible Drag Target below 767 width*/
.drag-target { 
    display: block;
}
@media(max-width: 767px) {
	.drag-target { display: block;}
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

