/* .splash{
    display :block;
    position: fixed;
}
.swiper{
    display: block;
    padding-top: 35px;
    backdrop-filter: blur(2px);
}
.imgswiper{
    left:0;
    position: inherit;
    top:-30px;
}
.button{
    top:75%
}
.nextButton{
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 39%;
    padding: 15px;
}
.skipButton{
    background: #fff;
    color: rgb(197, 188, 188);
    border-radius: 39%;
    padding: 15px;
} */