.block-position-fixed {
    position: fixed;
    z-index: 9999;
    width: 100%;   
}
.block-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
    transition: all 100ms linear 200ms;
}
.pd-right-15 {
    padding: 10px 0px;
    background-color: #ecf0f1;
}
.pd-left-15 {
    padding-left: 15px !important;
}
.display-none {
    display: none;
}
.select-box-fixed {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10000;
    top: 101px;
    padding-top: 3px;
    padding-bottom: 0px;
    border-radius: 0;
    transition: width 0.3s ease-in-out 0s; 
}
.select-box-fixed>h5>span>div.form-group {
    margin-bottom: 0 !important;
}

.no-data-found-on-leader-board {
    padding: 50px 0px;
    margin: 20px;
    text-align: center;
    font-size: 17px;
    color: #d61414;
}