.block-position-fixed {
    position: fixed;
    z-index: 9999;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
    transition: all 200ms linear 200ms;
}
.score-details{
	   	background-color: #fff;
	   	padding: 10px 0px;
	   	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	   }
	 .avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border:1px solid #ecf0f1;
}
.scorinfo{
	border: 1px solid #ecf0f1;
	text-align:center;
	background-color:#05ffb0;

}
.score-info {
	padding: 0px 6px;
}
.score-info>div:nth-child(1),.score-info>div:nth-child(2) {
	width:100%;
	text-align: center;
	padding: 2px;
}
.score-info>div:nth-child(1)>div {
	border: 1px solid #ecf0f1;
}
.score-info>div:nth-child(2)>div {
	background-color: #f1f1f1;
}
.time-info {
	padding: 0px 8px;
}
.time-info>div:nth-child(1),.time-info>div:nth-child(2) {
	width:100%;
	text-align: center;
	padding: 2px;
}
.time-info>div:nth-child(1)>div {
	border: 1px solid #ecf0f1;
}
.time-info>div:nth-child(2)>div {
	background-color: #f1f1f1;
}
.ques-info {
	padding: 0px 6px;
}
.ques-info>div:nth-child(1),.ques-info>div:nth-child(2) {
	width:100%;
	text-align: center;
	padding: 2px;
}
.ques-info>div:nth-child(1)>div {
	border: 1px solid #ecf0f1;
}
.ques-info>div:nth-child(2)>div {
	background-color:#f1f1f1;
	padding:0px 2px;
}
.score-details-card {
	width: 98%;
	margin: 8px auto;

}
.cat-info>div {
	width:100%;
	text-align: left;
	padding-bottom: 3px;
	border-bottom: 1px solid #ecf0f1;
	font-size: 15px;
    letter-spacing: 1px;
}
.rank{
	width: 85px;
    height: 100px;
}
.rank-info {
	border-right: 1px solid #ecf0f1;
	padding: 0px 2px;
}
.rank-info>div {
	width: 100%;
}
.rank-info>div:nth-child(1) {
	position: relative;
}
.rank-info>div:nth-child(1)>div {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.rank-info>div:nth-child(1)>div>div {
	margin-top: 19px;
    font-size: 30px;
    color: rgba(0,0,0,0.5);
}
.rank-info>div:nth-child(2) {
	width: 100%;
	padding: 2px;
	padding-top: 9px; 
}
.rank-info>div:nth-child(2)>div{
	background-color:#f1f1f1;
	padding:0px 2px;
	text-align: center;
}
.leaderboard {
	padding-top: 40px;
}
.text-coin {
	text-align: center;
	vertical-align: middle;
	font-weight: 700;

}
.set-img {
	display: inline-block;
	border-radius: 100px;
	width: 54px;
	height: 54px;
	background: #e0e0e0;
}
.text-orange {
	color: #FF4E1A;
}
.v2 .mid hr {
	margin: 0;
	height: 5px;
	background-color: #FF4E1A;
	border: 0px !important;
	border-radius: 4px;
	box-shadow: 0 0 5px yellow;
}
.botm {
	margin-top: 5px;
	display: inline-flex;
}
.v2 .botm p {
	font-size: 11px;
	margin-right: 5px;
}
.clr-orange {
	background: #FF4E1A;
}