html,
body {
    margin: 0;
}

#App {
    font-family: sans-serif;

    /* Give app full page to work with */
    height: 100vh;
}

#page-wrap {
    text-align: center;

    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
}

.bm-menu-wrap {
    border-top: 5px solid #FF4E1A;
}


/* Individual item */
.bm-item {
    display: inline-block;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #ffffff;
    transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
    color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 17px;
    left: 20px;
    top: 22px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: white;
    height: 15% !important;
    width: 22px;
    height: 2px !important;
    border-radius: 1px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #ffffff;
}

/* General sidebar styles */
.bm-menu {
    background: #202346;
    padding:0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.menu-item-div {
    display: inline-block;
    padding-left: 15px;
}
.menu-divider {
    background: #161831;
    padding: 1px 15px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 34px;
    color: #fff;
    text-align: left;
}
.indivdual-item-menu {
    position: relative;
    color: #ffffff;
    font-size: 14px;
    padding-left: 30px;
    line-height: 34px;
}
.social-media-icons {
    padding: 0;
    margin: 0;
    width: 100%;
}

.social-media-icons ul {
    padding: 0;
    margin: 0;
}

.social-media-icons li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 22%;
    display: inline-block;
}
.follow {
    margin-top: 25px;
}
.follow>.footer-text {
    margin-right: 0;
}