.timer{
  transform: rotate(-90deg);
}
.circle {
    transition: all 1s linear;
    stroke: #666;
    stroke-width: 4px;
  }
  #cont {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: auto;
  }
  #cont:after {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    top: 0;
    /*box-shadow: inset 0 0 0.5em #909090;*/
    content: attr(data-pct);
    /*margin-top: -38px;
    margin-left: -38px;*/
    border-radius: 100%;
    line-height: 50px;
    font-size: 1.5em;
    text-align: center;
    /*text-shadow: 0 0 0.5em black;*/
    transition: all 1s linear;
  }