.wrong, .right, .timestamp {
    position: absolute;
    bottom: 3px;
}
.right {
    left: 60px;
    font-size: 9px;
    background: green;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
}
.wrong {
    left: 120px;
    font-size: 9px;
    background: red;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
}
.timestamp {
    left: 180px;
    bottom: 1px;
    color: #828282;
}
.player-name {
    position: absolute;
    top: 15px;
    text-transform: capitalize;
}
