.quiz-history {
    position: relative;
    display: block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 5px 0px;
    text-overflow: ellipsis;
    text-transform: none;
    margin-bottom: 3px;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.quiz-history-bg-color-1 {
    background-color: rgb(var(--pure-material-primary-rgb, 12, 88, 144));
}

.quiz-history-bg-color-2 {
    background-color: rgb(var(--pure-material-primary-rgb, 18, 139, 180));
}
.quiz-history::-moz-focus-inner {
    border: none;
}

/* Overlay */
.quiz-history::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.quiz-history::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    /* Safari */
    height: 32px;
    /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.quiz-history:hover,
.quiz-history:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.quiz-history:hover::before {
    opacity: 0.08;
}

.quiz-history:focus::before {
    opacity: 0.24;
}

.quiz-history:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.quiz-history:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.quiz-history:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.quiz-history:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.quiz-history:disabled::before {
    opacity: 0;
}

.quiz-history:disabled::after {
    opacity: 0;
}

img.swal2-image.img-responsive.rounded-circle {
    position: absolute;
    top: -80px;
    width: 120px;
    height: 120px;
    z-index: 9999;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.swal2-popup.swal2-modal.swal2-show {
    border-radius: 10px;
}
h2#swal2-title {
    margin-top: 40px;
}
button.swal2-confirm.swal2-styled {
    padding: 10px 40px;
}
.quiz-history-timestamp {
    width: 100%;
    color: #a29f9f;
    font-size: 15px;
    margin: 2px;
    padding: 8px 5px;
}
.quiz-history-item {
    width: 47%;
    display: inline-block;
    background-color: #efefef;
    color: #4c4c4c;
    font-size: 15px;
    margin: 2px;
    padding: 8px 5px;
}
.quiz-history-item-right {
    background-color: rgba(70, 236, 73, 0.43) !important;
}
.quiz-history-item-wrong {
    background-color: #ff7878;
    color: #fff;
}
span.quiz-history-total {
    padding: 2px 10px;
    background-color: #b88200;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    color: #fff;
    font-style: oblique;
}