.my-reward {
    position: relative;
    display: block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 5px 0px;
    vertical-align: middle;
    text-overflow: ellipsis;
    text-transform: none;
    margin-bottom: 3px;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.my-reward-bg-color-1 {
    background-color: rgb(var(--pure-material-primary-rgb, 12, 88, 144));
}

.my-reward-bg-color-2 {
    background-color: rgb(var(--pure-material-primary-rgb, 18, 139, 180));
}
.my-reward::-moz-focus-inner {
    border: none;
}

/* Overlay */
.my-reward::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.my-reward::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    /* Safari */
    height: 32px;
    /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.my-reward:hover,
.my-reward:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.my-reward:hover::before {
    opacity: 0.08;
}

.my-reward:focus::before {
    opacity: 0.24;
}

.my-reward:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.my-reward:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.my-reward:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.my-reward:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.my-reward:disabled::before {
    opacity: 0;
}

.my-reward:disabled::after {
    opacity: 0;
}