.display-none {
    display: none;
}
.scroll-fixed {
    position: fixed;
    top: 55px;
    z-index: 999;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
    display: block;
    text-align: center;
    transition: all 500ms linear 500ms;
}
