.rewards-card {
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
   box-sizing: border-box;
   pointer-events: auto;
   margin-bottom: 25px;
   transition: all 500ms linear;
   width: 100%;
   overflow: auto;
   min-height: calc(100vh - 120px);
   height: 100%;
}
.rewards-img {
    text-align: center;
    height: 150px;
    position: relative;
}
.rewards-title {
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    width: 100%;
    padding-top: 10px;
    border-bottom: 1px solid #FF4E1A;
}
.coin {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 5px 10px;
}
.share-icon {
    position: absolute;
    right: 5px;
    top: 5px;
}
.share-icon > img {
    width: 35px;
    height: 35px;
}

.overflow-hidden {
    overflow: hidden !important;
}
.fixed-off {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ecf0f1;
    padding-top: 65px;
}

.fixed-off1 {
    width: auto;
    z-index: 1000;
    top: 56px;
    left: 0;
    margin: auto 10px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

p.price.diasble {
    border-color: grey;
    color: grey;
}