.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 4px !important;
}

.owl-dot span {
    width: 30px !important;
    height: 3px !important;
    margin: 5px 3px !important;
    
}

.active span {
    background-color: #FF4E1A !important;
}